// General COLORS VARIABLES
$black: #272727;
$greyTextColor: #a1a1a1;

// Fonts
$font: 'Asap', sans-serif;

// Site Colors
$primaryColor: #80c627;
$darkBlue: #3e4d59;
$textColor: #112433;
$lightTextColor: #666666;
$lightBgGrey: #f6f6f6;

//padding
$sectionPadding: 130px;

// Breakpoints
$desktopLarge: 1440px;
$desktopNormal: 1200px;
$desktopSmall: 1024px;
$tabletLarge: 991px;
$tablet: 768px;
$mobilexLarge: 640px;
$mobileLarge: 426px;
$mobileMedium: 375px;
$mobileSmall: 320px;
